body{ font-size: 12px }
.ug-body{ position: absolute; left: 0;right: 0;top: 0;bottom: 0; background-color: #fffafa; }
.ug-left{ box-shadow: 1px 0px 5px #484848; height: 100%; padding: 0px; z-index: 2; background: linear-gradient(#ffffff,#ffffff,#ffffff,#cccccc)}

.ug-logo{ width: 100%; height: 148px; background-image: url("u.png"); background-size: cover}
.ug-menu{ padding: 16px; background-color: #556699;color: #ffffff; text-align: center;font-weight: 900; }
.ug-icn{ background-color: #cccccc;height: 68%; text-align: center }
.ug-icn span,.ug-main-menu span{ width: 100%; margin-top: 16px; }
.ug-icn span { margin-top: 26px; }
.ug-main-menu span{ float: left; padding: 4px 0px; font-weight: 900}
.ug-main-menu span:hover{ cursor: pointer; border-bottom: 2px solid #ff69b4 }

.ug-shadow{ box-shadow: 1px 0px 5px #484848;  padding: 0px; z-index: 1 }

.ug-right{ padding: 0px; height: 100%; background: linear-gradient(#ffffff,#ffffff,#ffffff,#cccccc)}
.ug-status{ background-color: #556699; height: 24px;}
.ug-tb{ background-color: #6677aa; height: 64px; box-shadow: 2px 2px 5px #484848;z-index: 1; }
.ug-tb input{ border-top: 0px; border-left:0px; border-right: 0px; border-bottom: 2px solid #ff69b4;
            width: 300px; margin-top: 16px; float: right; margin-right: 24px; font-size: 14px; padding: 6px;
            border-radius: 2px;
    }

li{ padding: 8px 0px; color: #888; font-size: 12px }
li:hover{ border:1px solid #ff69b4; border-radius: 10px 0px 0px 10px; }
div .header{ margin-top: 16px; font-size: 16px; color: #ff69b4}
.ug-cont .ug-left{ background: #ffffff; height: 100% !important; z-index: 1; overflow: auto;}
.ug-cont .ug-right{ height: 92%; z-index: 0; background-color: #fffafa}

.ug-rt-footer{ height: 50px; line-height: 50px; padding-top: 6px; float: left; position: absolute; bottom: 0;
left: 0;right: 0;}

.ug-btn{ width: 50px; height: 50px; border-radius: 25px; margin-top: -25px; background-color: #ff69b4; color: #fff; float: right;}
a,a:hover,a:visited{ color: #484848; text-decoration: none; cursor: pointer }

table{ position: absolute;top 0;  bottom: 60;}