<!--
body{ background-color: #fffafa;  color: #484848 !important }

.ug-body{ position: absolute; left: 0;right: 0;top: 0; height: 650px;
        background-color: #ffffff; box-shadow: 0px 0px 5px #888
    }

.ug-left{ box-shadow: 1px 0px 5px #484848; height: 650px; padding: 0px; z-index: 2; background: linear-gradient(#ffffff,#ffffff,#ffffff,#cccccc)}
.ug-logo{ width: 100%; height: 148px; background-image: url("u.png"); background-size: cover}
.ug-menu{ padding: 16px; background-color: #556699;color: #ffffff; text-align: center;font-weight: 900; }
.ug-icn{ background-color: #cccccc; height: 450px; text-align: center }
.ug-icn span,.ug-main-menu span{ width: 100%; margin-top: 16px; }
.ug-icn span { margin-top: 26px; }
.ug-main-menu span{ float: left; padding: 4px 0px}
.ug-main-menu span:hover{ cursor: pointer; border-bottom: 2px solid #ff69b4 }

.ug-right{ padding: 0px; }
.ug-status{ background-color: #556699; height: 34px;}
.ug-tb{ background-color: #6677aa; height: 74px; box-shadow: 2px 2px 5px #484848;z-index: 1; }
.ug-tb input{ border-top: 0px; border-left:0px; border-right: 0px; border-bottom: 2px solid #ff69b4;
            width: 300px; margin-top: 24px; float: right; margin-right: 24px; font-size: 14px; padding: 8px;
            border-radius: 2px;
    }

.ug-cont{ height: 540px; background: linear-gradient(#ffffff,#ffffff,#ffffff,#cccccc) }
.ug-cont .ug-left{ background: #ffffff; height: 100%; z-index: 1;}
li{ padding: 8px 0px; color: #888; font-size: 12px }
li:hover{ border:1px solid #ff69b4; border-radius: 10px 0px 0px 10px; }
div .header{ margin-top: 16px; font-size: 16px; color: #ff69b4}

.ug-cont .ug-right{ height: 540px; z-index: 0;}
.ug-rt-bdy{ border-bottom: 1.3px dashed #ffffff; height: 490px; background-color: #fffafa}
.ug-rt-footer{ height: 50px; line-height: 50px; padding-top: 8px}


.ug-btn{ width: 60px; height: 60px; border-radius: 30px; margin-top: -60px; background-color: #ff69b4; color: #fff}
a,a:hover,a:visited{ color: #888; text-decoration: none; cursor: pointer }
-->