{% extends 'temp.html' %}

{% block lst_view %}
	
		<div class='header'>Groups</div>
        <li><a>- View All</a></li>
        <li><a>- New Group</a></li>
        <li><a>- Edit Group</a></li>
        <li><a>- Delete Group</a></li>
        <div class='header'>Members</div>
        <li><a>- View All</a></li>
        <li><a>- New Member</a></li>
        <li><a>- Edit Member</a></li>
        <li><a>- Delete Member</a></li>
        <div class='header'>USSD Menu</div>
        <li><a>- View All</a></li>
        <li><a>- New Menu</a></li>
        <li><a>- Edit Menu</a></li>
        <li><a>- Delete Menu</a></li>
   
{% endblock %}


{% block table %}

		<thead>
        	<th>No</th>
            <th>Reg No</th>
            <th>Group Name</th>
            <th>Region</th>
            <th>Distric</th>
            <th>Ward</th>
            <th>Street</th>
        </thead>

{% endblock %}