{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ menu }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cs.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

	<div class="ug-body">
		<div class="col-md-2 ug-left" style="height: 100%">
			<div class="ug-logo">

            </div>
            <div class="ug-menu">
                Menu
            </div>
            <div class="col-md-4 ug-icn" >
                <br/>
                <span class="fa fa-plus"></span>
                <span class="fa fa-users"></span>
                <span class="fa fa-shopping-cart"></span>
                <span class="fa fa-university"></span>
                <span class="fa fa-money"></span>
                <span class="fa fa-usd"></span>
                <span class="fa fa-user"></span>
                <span class="fa fa-cog"></span>
            </div>

            <div class="col-md-8 ug-main-menu">
                <br/>
                <a href=""><span>Add New</span></a>
                <a href="{% url 'home' %}"><span>Vicoba</span></a>
                <a href="{% url 'daushop' %}"><span>Daushop</span></a>
                <a href="{% url 'taasisi' %}"><span>Taasisi</span></a>
                <a href="{% url 'tuma' %}"><span>Tuma Pesa - Logs</span></a>
                <a href="{% url 'toa' %}"><span>Toa Pesa - Logs</span></a>
                <a href="{% url 'users' %}"><span>Users Account</span></a>
                <a href="{% url 'setting' %}"><span>Setting</span></a>
            </div>    
		</div>
		<div class="col-md-10 ug-right">
			<div class="ug-status">			

			</div>
			<div class="ug-tb">
            	<input type="text" width="300px" placeholder="Search here....."/>
            </div>

            <div class="col-sm-2 ug-shadow" style="position: absolute; bottom: 0;top: 90px">
                <div style="padding: 16px;color: #556699;font-size: large; border-bottom: 1px dashed #556699;background-color: #fffafa;">
                	    {{ menu }}
                </div>
                <ul style="list-style-type:none;overflow: auto; height:85%">
                        {% block lst_view %}{% endblock %}
                </ul>
            </div>
            <div class="col-sm-10" style="position: absolute; bottom: 0; top: 0; right: 0; margin-top: 90px;">
              	<div style="background-color: #fffafa; position: absolute; left: 0;right: 0;top: 0;bottom: 0; margin-bottom: 50px">
              		<table class="col-sm-12 table table-hover table-striped">
	              		{%block table%} {%endblock%}
	              	</table>
              	</div>

              	<div class="ug-rt-footer">

	                    <div class="col-md-3">
	                        <select class="form-control">
	                            <option>-Select Region-</option>
	                            <option></option>
	                            <option>Mbeya</option>
	                            <option>Dar es Salaam</option>
	                        </select>
	                    </div>
	                    <div class='col-md-3'>
	                        <div class="form-group">
	                            <div class='input-group date' id='dp1'>
	                                <input type='text' class="form-control" />
	                                <span class="input-group-addon">
	                                <span class="glyphicon glyphicon-calendar"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class='col-md-3'>
	                        <div class="form-group">
	                            <div class='input-group date' id='dp1'>
	                                <input type='text' class="form-control" />
	                                <span class="input-group-addon">
	                                <span class="glyphicon glyphicon-calendar"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class='col-md-3'>
	                        <button class="btn fa fa-print ug-btn"></button>
	                    </div>
	               	</div>
            </div>


		</div>
	</div>

</body>
</html>